.footer {
  font-size: 0.833rem;
  color: $color-text-white;
  background: #455A64;
  overflow: hidden;

  &-wrap {
    width: 1040px;
    margin: 0 auto;
    padding: 60px 0;

  }

  &-navi {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &-block {
    width: 33.33%;
    padding: 0 20px;

    li {
      margin: 10px 0;
    }

  }
  &-blanding {
    display: flex;
    align-items: center;
  }

  &-logo-type {
    font-size: $fontSize-XL;
    font-weight: 600;
  }

  &-logo-mark {
      width: 50px;
      height: 50px;
  }

  &-info {
    padding: 20px;
    border-top: 1px solid rgba(255,255,255,.3);
    text-align: center;
    font-size: 0.833rem;
  }
  a {
    color: $color-text-white;
  }
}

@media only screen and (max-width: 1040px) {
  .footer {
    &-wrap {
      width: 100%;
      padding: 60px 60px;
    }

    &-block {
      width: 50%;
    }
    &-blanding {
      margin-top: 30px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    &-wrap {
      margin: 50px 0;
      padding: 0 20px;
      width: 100%;
    }

    &-navi {
      flex-wrap: wrap;
    }

  }
}
