.header {
    position: fixed;
    width: 100%;
    z-index: 999999;
    top:0;
    transition: 1s ease-in-out;
    display: flex;
    background: $color-bland;

    *:first-child {
      margin-right: auto;
    }

    &-wrapper {
      width: auto;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }

    &-branding {
        width: auto;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    &-logo-type {
      color: $color-text-white;
      font-weight: bold;
      font-size: $fontSize-M;
    }

    &-logo-mark {
        width: 40px;
        height: 40px;
    }

    &-bg {
      background: rgba(0,137,123,.9);
    }

  }

@media only screen and (max-width: 768px) {
    .header {
        padding: 0;

        &-logo-type {
            display: none;
        }
      }
    }
