.section {
  margin: 0 auto;
  background: $color-base;

  &-gray {
    background: $color-sub;
  }

  &-wrapper {
      width: 1040px;
      margin: 0 auto;
      padding: 60px 0;
      overflow: hidden;;

      &-center {
        text-align: center;
      }

      &-narrow {
        width: 770px;
      }
  }

  // &-titleWrap {
  //   margin-bottom: 20px;
  //   text-align: center;
  // }

  // &-read {
  //   text-align: center;
  // }

  &-content {
    width: 770px;
    float: left;
  }
}


@media only screen and (max-width: 1040px) {
  .section {

    &-wrapper {
      width: 770px;

    }

  }
}


@media only screen and (max-width: 768px) {
  .section {
    width: 100%;

    &-inner {
    width: 100%;
    }

    &-wrapper {
      width: 100%;
      padding: 60px 20px;

      &-articleList {
        padding: 60px 0;
      }
    }

    &-content {
      width: 100%;
    }
  }
}
