.article{

  &-titleBlock {
    text-align: left;;
    z-index: 99999;
  }

  &-title {
    font-size: 28px;

  }

  &-time {
    color: $color-text-thin;
    font-size: 12px;
    font-family: 'Montserrat';
  }

  .marker{
    background: linear-gradient(transparent 65%, #B3E5FC 0%);
    display: inline;
    padding: 0 2px 3px;
  }

  h2,h3,h4 {
    margin-bottom: 2rem;
    line-height: 2.0;
    font-weight: 600;
  }

  h2 {
    font-size: $fontSize-L;
    text-align: left;
    position: relative;
    padding-left: 20px;
    margin-bottom: 60px;
    line-height: 1.5;

    &::before {
      content: '';
      background: $color-bland-thin;
      width: 4px;
      height: 70%;
      position: absolute;
      top:0;
      left: 0;
      bottom: 0;
      margin: auto;
    }

    &::after {
      content: '';
      background:  $color-bland;
      width: 4px;
      height: 35%;
      position: absolute;
      left: 0;
      bottom: 50%;
      margin: auto;
    }
  }

  h3 {
    font-size: $fontSize-M;
    border-bottom: 3px solid $color-bland-thin;
    position: relative;

    &::before {
      content: '';
      width: 80px;
      height: 3px;
      background: $color-bland;
      position: absolute;
      bottom: -3px;
    }
  }

  p {
    line-height: 2.0;
    margin-bottom: 40px;
  }

  img {
    width: 100%;
    height: auto;
  }

  table {
    width: 100%;
    text-align: left;
    margin-top: -28px;

    tr {
      border-bottom :1px solid $color-border;
      height: 80px;
      display: flex;
      width: 100%;
      align-items: center;

      th,td{
        width: 50%;

      }

      th {
        padding-right: 20px;
      }

    }



  }
}
