.button {
  background: $color-bland;
  padding: 8px 30px;
  color: $color-text-white;
  display: inline-block;
  border-radius: 4px;
  text-align: center;

  &-ghost {
  padding: 7px 30px;
  width: 180px;
  background-color: transparent;
  color: $color-bland;
  border: 1px solid $color-bland;

    &:hover {
      color: $color-text-white;
      background: $color-bland;
      opacity: 1;
    }
  }

  &-wrapper {
    text-align: center;
    margin-top:25px;
  }
}
