.button {
  background: $color-bland;
  padding: 8px 10px;
  color: $color-text-white;
  display: inline-block;
  border-radius: 100rem;
  text-align: center;
  width: 180px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;

  &-ghost {
  padding: 7px 10px;
  background-color: transparent;
  color: $color-bland;
  border: 2px solid $color-bland;

    &:hover {
      color: $color-text-white;
      background: $color-bland;
      opacity: 1;
    }
  }

  &-wrapper {
    text-align: center;
    margin-top:25px;
  }
}
