.cvArea {
  // background: $color-sub;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-wrap {
    width: 335px;
    padding: 20px;
    background: rgba(255,255,255,.9);
    border-radius: 4px;
  }

  &-visual {
    background-image: url(images/cv-visual.png);
    background-size: cover;
    width: 100%;
    height: 100%;

    &-overay {
      background: rgba(0,0,0,.4);
      width: 100%;
      height: 100%;
    }
  }

  & > * {
    margin: 0;
    text-align: center;
  }

  &-title {
    font-size: $fontSize-M;
    font-weight: 600;
    width: 100%;
    margin-bottom: 15px;
  }

  a {
    width: 100%;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: $icon-tel;
      font-family: "symbols";
      color: $color-base;
      font-size: 20px;
    }
  }

  &-buttonWrap {
    display: flex;
    width: 100%;
    margin-top: 15px;

    a:first-child {
        margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 1040px) {

}

@media only screen and (max-width: 400px) {
  .cvArea {
    &-wrap {
      width: 100%;
    }
  }
}

.textLink {
  color: $color-bland;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-line {
    &::before {
      content: $icon-line;
      font-family: "symbols";
      color: $color-bland;
      font-size: 20px;
      }
  }

  &-mail {
    &::before {
      content: $icon-mail;
      font-family: "symbols";
      color: $color-bland;
      font-size: 20px;
      }
    }
}

//  .loading {
//   width: 60px;
//   height: 60px;
//   border: 5px solid rgba(0,0,0,0.4);
//   border-top-color: rgba(0,0,0,0.9);
//   border-radius: 50%;
//   animation: spin 1.2s linear 0s infinite;
//  }
//  @keyframes spin {
//   0% {transform: rotate(0deg);}
//   100% {transform: rotate(360deg);}
// }