.cvArea {
  // background: $color-sub;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-wrap {
    width: 335px;
    padding: 20px;
    background: rgba(255,255,255,.9);
    border-radius: 8px;
  }

  &-visual {
    background-image: url(images/cv-visual.png);
    background-size: cover;
    width: 100%;
    height: 100%;

    &-overay {
      background: rgba(0,0,0,.4);
      width: 100%;
      height: 100%;
    }
  }

  & > * {
    margin: 0;
    text-align: center;
  }

  &-title {
    font-size: $fontSize-M;
    font-weight: 600;
    width: 100%;
    margin-bottom: 15px;
  }

  a {
    width: 100%;
    padding: 10px 0;

  }

  &-buttonWrap {
    display: flex;
    width: 100%;
    margin-top: 15px;

    a:first-child {
        margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 1040px) {

}

@media only screen and (max-width: 400px) {
  .cvArea {
    &-wrap {
      width: 100%;
    }
  }
}
