.feature {
  background: $color-sub;

  &-wrap {
    display: flex;
  }

  &-section {
    position: relative;
    display: block;
    overflow: hidden;
    height: 200px;
    width: 50%;
    border-radius: 4px;
    margin: 30px 40px 0 0;
    // padding: 40px 30px;
    background: $color-base;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
  &-sectionGradation {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
  }

  &-sectionWrap {
    height: auto;
    margin-left: 40px;
    z-index: 99999;
  }

  &-sectionTitle {
    font-size: $fontSize-L;
    color: $color-text;
    margin-bottom: 20px;
  }

  &-image {
    width: 50%;
    position: absolute;
    height: 100%;
    right: 0;
    overflow: hidden;
  }

  &-imageGradation {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 999;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      z-index: 999;
    }
  }

  img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // -webkit-filter: grayscale(100%);
    // -moz-filter: grayscale(100%);
    // -ms-filter: grayscale(100%);
    // -o-filter: grayscale(100%);
    // filter: grayscale(100%);
  }
}


@media only screen and (max-width: 1040px) {
}

@media only screen and (max-width: 768px) {
  .feature{
    &-wrap {
      flex-wrap: wrap;
    }
    &-section {
      margin-right: 0;
      width: 100%;
    }
    &-sectionWrap {
      margin-left: 20px;
    }
  }
}
