.hero {
  height: 493px;
  background: radial-gradient(#dfdfdf, #f3f3f3);
  text-align: center;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  &-white {
    width: 100%;
    z-index: 99;
    position: absolute;
  }


  &-title {
    width: 100%;
    font-size: 40px;
    color: $color-base;

  }

  &-text {
    font-size: 1.2rem;
    font-family: $font-sub;
    margin-bottom: 40px;
    color: $color-base;
  }

  &-overay {
    position: absolute;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
  }

  &-visual {
    background-color: #aaa;
    background-size: cover;
    width: 100%;
    height: 100%;

    &-1st {
      background-image: url(images/hero-visual-1st.png) ;
    }

    &-2nd {
      background-image: url(images/hero-visual-2nd.png) ;
    }

    &-3rd {
      background-image: url(images/hero-visual-3rd.png) ;
    }

    &-4th {
      background-image: url(images/hero-visual-4th.png) ;
    }

  }
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-flow: column nowrap;

    &-white {
      padding: 0 20px 0 20px ;
    }
    // &-title {
    //   font-size: $fontSize-XXL;
    //
    // }
    // &-wrap {
    //   margin: 0 15px;
    // }

    img {
      height: 100%;
    }

  }
}
