 .loading {
  width: 40px;
  height: 40px;
  border: 5px solid $color-bland-thin;
  border-top-color: $color-bland;
  border-radius: 50%;
  animation: spin 1.2s linear 0s infinite;
  margin: 60px;
  text-align: center;
  display: inline-block;
  text-align: center;
 }
 @keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}