 .loading {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(0,0,0,0.4);
  border-top-color: rgba(0,0,0,0.9);
  border-radius: 50%;
  animation: spin 1.2s linear 0s infinite;
  margin: 60px;
  text-align: center;
  display: inline-block;
  text-align: center;
 }
 @keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}