.title {

  &-underLine {
    font-size: $fontSize-L;
    text-align: left;
    position: relative;
    padding-left: 20px;
    margin-bottom: 60px;

    &::before {
      content: '';
      background: $color-bland-thin;
      width: 4px;
      height: 20px;
      position: absolute;
      top:0;
      left: 0;
      bottom: 0;
      margin: auto;
    }

    &::after {
      content: '';
      background:  $color-bland;
      width: 4px;
      height: 10px;
      position: absolute;
      left: 0;
      bottom: 5px;
      margin: auto;
    }
  }
}
